contourpy==1.3.0
cycler==0.12.1
fonttools==4.53.1
kiwisolver==1.4.7
lc-multi-outputs @ git+https://github.com/NII-cloud-operation/Jupyter-multi_outputs@43f4eaea3eb027e8cf5cb58d1fc66bd167be964c
lc-nblineage @ git+https://github.com/NII-cloud-operation/Jupyter-LC_nblineage@c310decc8ae6aa597ff6129aca5952012d7e9896
lc_wrapper @ git+https://github.com/NII-cloud-operation/Jupyter-LC_wrapper@99c215618b55c014ef82027900360844b79dd8d7
matplotlib==3.9.2
numpy==2.1.1
packaging==24.1
pandas==2.2.2
pillow==10.4.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
seaborn==0.13.2
six==1.16.0
tzdata==2024.1
